[submodule "src/templates/default/foundry/lib/forge-std"]
	path = src/templates/default/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "src/templates/default/foundry/lib/solidity-stringutils"]
	path = src/templates/default/foundry/lib/solidity-stringutils
	url = https://github.com/Arachnid/solidity-stringutils
[submodule "src/templates/ERC20/foundry/lib/openzeppelin-contracts"]
	path = src/templates/ERC20/foundry/lib/openzeppelin-contracts
	url = https://github.com//OpenZeppelin/openzeppelin-contracts
[submodule "src/templates/ERC20/foundry/lib/forge-std"]
	path = src/templates/ERC20/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
